__pycache__
/tests/testConfig.json
/tests/__pycache__
config/*
!config/sampleConfig.json
logs/*
!logs/.keep

*.swp
/EverbridgeHTTP/.python_packages
/EverbridgeHTTP/.git
/EverbridgeHTTP/.venv
/EverbridgeHTTP/.vscode
/EverbridgeHTTP/EverbridgeTest/config.json
/EverbridgeHTTP/EverbridgeTest/azure.py
/EverbridgeHTTP/EverbridgeTest/everbridge_api.py
/EverbridgeHTTP/EverbridgeTest/everbridge_logic.py
/EverbridgeHTTP/EverbridgeTest/everbridge.py
/EverbridgeHTTP/EverbridgeTest/logger.py
/EverbridgeHTTP/Pipfile.lock
.vscode/
/EverbridgeHTTP/requirements.txt
/EverbridgeHTTP/EverbridgeTest/api/
/EverbridgeHTTP/EverbridgeTest/config/